<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="header row">
        <div class="col-6">
          <h4>calc</h4>
        </div>
        <div class="col-6">
          <div class="d-flex flex-row-reverse">
            <img class="switch" src="../assets/Switch.svg" alt="switch">
            <img class="knob" src="../assets/Knob.svg" alt="knob">
            <p>THEME</p>
          </div>
        </div>
      </div>
      <!-- <div class="screen">399,981</div>
      <div class="pad">789del</div> -->
    </div>
  </div>
</div>