<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="header row">
        <div class="col-6" style="padding-left: 0px;">
          <h4>calc</h4>
        </div>
        <div class="col-6" style="padding-right: 2px;">
          <div class="d-flex flex-row-reverse">
            <div class="d-grid switch-container">
              <!-- <div class="item-knob-1">
                <img class="knob" src="../assets/Knob.svg" alt="knob">
              </div>
              <div class="item-knob-2" hidden>
                <img class="knob" src="../assets/Knob.svg" alt="knob">
              </div>
              <div class="item-knob-3" hidden>
                <img class="knob" src="../assets/Knob.svg" alt="knob">
              </div>
              <div class="item-switch">
                <img class="switch" src="../assets/Switch.svg" alt="switch">
              </div> -->
              <div class="item-knob-1">
                <img class="knob" src="../calculator-app/assets/Knob.svg" alt="knob">
              </div>
              <div class="item-knob-2" hidden>
                <img class="knob" src="../calculator-app/assets/Knob.svg" alt="knob">
              </div>
              <div class="item-knob-3" hidden>
                <img class="knob" src="../calculator-app/assets/Knob.svg" alt="knob">
              </div>
              <div class="item-switch">
                <img class="switch" src="../calculator-app/assets/Switch.svg" alt="switch">
              </div>
              <div class="item-1">
                <p>1</p>
              </div>
              <div class="item-2">
                <p>2</p>
              </div>
              <div class="item-3">
                <p>3</p>
              </div>
            </div>
            <p class="theme">THEME</p>
          </div>
        </div>
      </div>
      <div class="screen row mt-4 d-grid">
        <div class="screen-item">
          <p>399,981</p>
        </div>
      </div>
      <div class="pad row mt-4 d-grid">
        <div class="key key-1 align-items-center d-flex justify-content-center">
          <p>1</p>
        </div>
        <div class="key key-2 align-items-center d-flex justify-content-center">
          <p>2</p>
        </div>
        <div class="key key-3 align-items-center d-flex justify-content-center">
          <p>3</p>
        </div>
        <div class="key key-4 align-items-center d-flex justify-content-center">
          <p>4</p>
        </div>
        <div class="key key-5 align-items-center d-flex justify-content-center">
          <p>5</p>
        </div>
        <div class="key key-6 align-items-center d-flex justify-content-center">
          <p>6</p>
        </div>
        <div class="key key-7 align-items-center d-flex justify-content-center">
          <p>7</p>
        </div>
        <div class="key key-8 align-items-center d-flex justify-content-center">
          <p>8</p>
        </div>
        <div class="key key-9 align-items-center d-flex justify-content-center">
          <p>9</p>
        </div>
        <div class="key key-0 align-items-center d-flex justify-content-center">
          <p>0</p>
        </div>
        <div class="key key-div align-items-center d-flex justify-content-center">
          <p>/</p>
        </div>
        <div class="key key-mul align-items-center d-flex justify-content-center">
          <p>x</p>
        </div>
        <div class="key key-sub align-items-center d-flex justify-content-center">
          <p>-</p>
        </div>
        <div class="key key-add align-items-center d-flex justify-content-center">
          <p>+</p>
        </div>
        <div class="key key-dec align-items-center d-flex justify-content-center">
          <p>.</p>
        </div>
        <div class="key key-del align-items-center d-flex justify-content-center">
          <p>DEL</p>
        </div>
        <div class="key key-reset align-items-center d-flex justify-content-center">
          <p>RESET</p>
        </div>
        <div class="key key-equals align-items-center d-flex justify-content-center">
          <p>=</p>
        </div>
        <div class="key-shadow shadow-1"></div>
        <div class="key-shadow shadow-2"></div>
        <div class="key-shadow shadow-3"></div>
        <div class="key-shadow shadow-4"></div>
        <div class="key-shadow shadow-5"></div>
        <div class="key-shadow shadow-6"></div>
        <div class="key-shadow shadow-7"></div>
        <div class="key-shadow shadow-8"></div>
        <div class="key-shadow shadow-9"></div>
        <div class="key-shadow shadow-0"></div>
        <div class="key-shadow shadow-dec"></div>
        <div class="key-shadow shadow-div"></div>
        <div class="key-shadow shadow-mul"></div>
        <div class="key-shadow shadow-add"></div>
        <div class="key-shadow shadow-sub"></div>
        <div class="key-shadow shadow-del"></div>
        <div class="key-shadow shadow-reset"></div>
        <div class="key-shadow shadow-equals"></div>
      </div>
      <!-- <div class="screen">399,981</div>
      <div class="pad">789del</div> -->
    </div>
  </div>
</div>