<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="header row">
        <div class="col-6" style="padding-left: 0px;">
          <h4>calc</h4>
        </div>
        <div class="col-6" style="padding-right: 2px;">
          <div class="d-flex flex-row-reverse">
            <div class="d-grid switch-container">
              <div class="item-knob-1">
                <img class="knob" src="../assets/Knob.svg" alt="knob">
              </div>
              <div class="item-knob-2" hidden>
                <img class="knob" src="../assets/Knob.svg" alt="knob">
              </div>
              <div class="item-knob-3" hidden>
                <img class="knob" src="../assets/Knob.svg" alt="knob">
              </div>
              <div class="item-switch">
                <img class="switch" src="../assets/Switch.svg" alt="switch">
              </div>
              <div class="item-1">
                <p>1</p>
              </div>
              <div class="item-2">
                <p>2</p>
              </div>
              <div class="item-3">
                <p>3</p>
              </div>
            </div>
            <p class="theme">THEME</p>
          </div>
        </div>
      </div>
      <div class="screen row mt-4 d-grid">
        <div class="screen-item">
          <p>399,981</p>
        </div>
      </div>
      <div class="pad row mt-4 d-grid"></div>
      <!-- <div class="screen">399,981</div>
      <div class="pad">789del</div> -->
    </div>
  </div>
</div>