@import ../styles

.header
    margin-top: 6em
    margin-left: 0
    color: $text-light
h4
    font-weight: 700
    font-size: 1.7em
    margin-top: 10px
    margin-left: 2px
p
    margin-top: 2em
    font-size: 0.5em
    font-weight: 800
.switch-container
    grid-template-columns: 24px 24px 24px
    grid-template-rows: 14px 28px
.item-switch
    grid-column-start: 1
    grid-column-end: 4
    grid-row-start: 2
    margin-left: 3px
    z-index: 1
.item-1
    grid-column-start: 1
    grid-row-start: 1
    p
        margin-top: 0
        margin-bottom: 0
        margin-left: 15px
        font-weight: 800
        font-size: 0.7em
.item-2
    grid-column-start: 2
    grid-row-start: 1
    p
        margin-top: 0
        margin-bottom: 0
        margin-left: 12px
        font-weight: 800
        font-size: 0.7em
.item-3
    grid-column-start: 3
    grid-row-start: 1
    p
        margin-top: 0
        margin-bottom: 0
        margin-left: 12px
        font-weight: 800
        font-size: 0.7em
.item-knob-1
    grid-column-start: 1
    grid-row-start: 2
    margin-left: 8px
    margin-top: 1px
    z-index: 5
.theme
    margin-right: 22px
    margin-top: 22px
    letter-spacing: 0.09em
    font-size: 0.8em
    margin-bottom: 5px
.screen
    background-color: $bgd-screen
    width: 100%
    height: 127px
    border-radius: 8px
    z-index: 0
    grid-template-columns: auto 34px
    grid-template-rows: 38px auto 46px
    margin-left: 0
.row
    margin-right: 0px
.screen-item
    color: white
    z-index: 5
    grid-row-start: 2
    grid-column-end: 2
    padding: 0
    p
        font-size: 2.9em
        font-weight: 700
        margin: 0
        vertical-align: baseline
        text-align: end
.pad
    background-color: $bgd-key
    width: 100%
    height: 480px
    border-radius: 10px
    margin-left: 0
    grid-template-columns: 32px 101px auto 101px auto 101px auto 101px 32px
    grid-template-rows: 30px 64px auto 64px auto 64px auto 64px auto 64px 33px
    z-index: 1
.key
    background-color: $key-bgd-num
    width: 100%
    height: 60px
    border-radius: 10px
    p
        font-size: 32px
        font-weight: 700
        color: $text-dark
        margin-bottom: 0
        margin-top: 0.3em
.key-shadow
    background-color: $key-shadow-num
    width: 100%
    height: 60px
    margin-top: 4px
    border-radius: 10px
.key-1
    grid-column-start: 2
    grid-row-start: 6
    z-index: 5
.shadow-1
    grid-column-start: 2
    grid-row-start: 6
    z-index: 3
.key-2
    grid-column-start: 4
    grid-row-start: 6
    z-index: 5
.shadow-2
    grid-column-start: 4
    grid-row-start: 6
    z-index: 3
.key-3
    grid-column-start: 6
    grid-row-start: 6
    z-index: 5
.shadow-3
    grid-column-start: 6
    grid-row-start: 6
    z-index: 3
.key-4
    grid-column-start: 2
    grid-row-start: 4
    z-index: 5
.shadow-4
    grid-column-start: 2
    grid-row-start: 4
    z-index: 3
.key-5
    grid-column-start: 4
    grid-row-start: 4
    z-index: 5
.shadow-5
    grid-column-start: 4
    grid-row-start: 4
    z-index: 3
.key-6
    grid-column-start: 6
    grid-row-start: 4
    z-index: 5
.shadow-6
    grid-column-start: 6
    grid-row-start: 4
    z-index: 3
.key-7
    grid-column-start: 2
    grid-row-start: 2
    z-index: 5
.shadow-7
    grid-column-start: 2
    grid-row-start: 2
    z-index: 3
.key-8
    grid-column-start: 4
    grid-row-start: 2
    z-index: 5
.shadow-8
    grid-column-start: 4
    grid-row-start: 2
    z-index: 3
.key-9
    grid-column-start: 6
    grid-row-start: 2
    z-index: 5
.shadow-9
    grid-column-start: 6
    grid-row-start: 2
    z-index: 3
.key-0
    grid-column-start: 4
    grid-row-start: 8
    z-index: 5
.shadow-0
    grid-column-start: 4
    grid-row-start: 8
    z-index: 3
.key-dec
    grid-column-start: 2
    grid-row-start: 8
    z-index: 5
.shadow-dec
    grid-column-start: 2
    grid-row-start: 8
    z-index: 3
.key-div
    grid-column-start: 6
    grid-row-start: 8
    z-index: 5
.shadow-div
    grid-column-start: 6
    grid-row-start: 8
    z-index: 3
.key-mul
    grid-column-start: 8
    grid-row-start: 8
    z-index: 5
.shadow-mul
    grid-column-start: 8
    grid-row-start: 8
    z-index: 3
.key-sub
    grid-column-start: 8
    grid-row-start: 6
    z-index: 5
.shadow-sub
    grid-column-start: 8
    grid-row-start: 6
    z-index: 3
.key-add
    grid-column-start: 8
    grid-row-start: 4
    z-index: 5
.shadow-add
    grid-column-start: 8
    grid-row-start: 4
    z-index: 3
.key-del
    grid-column-start: 8
    grid-row-start: 2
    z-index: 5
    background-color: $key-bgd-del !important
    p
        color: $text-light
        font-size: 1.3em
.shadow-del
    grid-column-start: 8
    grid-row-start: 2
    z-index: 3
    background-color: $key-shadow-del !important
.key-reset
    grid-column-start: 2
    grid-column-end: 5
    grid-row-start: 10
    z-index: 5
    background-color: $key-bgd-del !important
    p
        color: $text-light
        font-size: 1.3em
.shadow-reset
    grid-column-start: 2
    grid-column-end: 5
    grid-row-start: 10
    z-index: 3
    background-color: $key-shadow-del !important
.key-equals
    grid-column-start: 6
    grid-column-end: 9
    grid-row-start: 10
    z-index: 5
    background-color: $key-bgd-equals !important
    p
        color: $text-light
        font-size: 1.3em
.shadow-equals
    grid-column-start: 6
    grid-column-end: 9
    grid-row-start: 10
    z-index: 3
    background-color: $key-shadow-equals !important
